<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home - Warzone team finder</title>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js"
        integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ=="
        crossorigin="anonymous"></script>
    <script defer src="./socket.io/socket.io.js"></script>
    <script defer src="./js/index.js"></script>
</head>

<body class="chat-page offline">
    <header>
        <a class="logout" href="/">Logout</a>
        <strong class="offline-message">You are offline</strong>
    </header>

    <main class="chat-container">
        <section class="teams">
            <section class="suggested-teams">
                <h2>Suggested teams</h2>
                <% if (createdTeams.teams.length > 0) { %>
                <% createdTeams.teams.forEach((team, index) => { %>
                <article>
                    <h3>team <%= index + 1 %></h3>
                    <strong class="average-kd"></strong>
                    <ul class="team">
                        <% team.forEach(member => { %>
                        <li>
                            <strong><%= member.username %></strong>
                            <ul class="stats">
                                <li>Wins: <%= member.wins %></li>
                                <li>KD: <%= member.kd %></li>
                            </ul>
                            <p><%= member.message %></p>
                        </li>
                        <% }) %>
                    </ul>
                </article>
                <% }) %>
                <% } %>
            </section>

            <section class="own-team">
                <h2>Create your own team</h2>
                <article>
                    <h3>Custom team</h3>
                    <ul class="team">
                        <% customTeam.forEach(member => { %>
                        <li>
                            <strong><%= member.username %></strong>
                            <ul class="stats">
                                <li>Wins: <%= member.wins %></li>
                                <li>KD: <%= member.kd %></li>
                            </ul>
                            <p><%= member.message %></p>
                        </li>
                        <% }) %>
                    </ul>

                    <form class="new-team-form" action="">
                        <button>Join team</button>
                    </form>
                    <form class="remove-member-form" action="">
                        <button>Leave team</button>
                    </form>
                </article>
            </section>
        </section>
        <section class="chat">
            <h2>Chat</h2>
            <h3>Users online: <span id="online-count">0</span></h3>
            <ul class="messages">
                <!-- <li class="your-message">
                    <strong>SamSuperman_12:</strong>
                    <ul class="stats">
                        <li>Wins: 92</li>
                        <li>KD: 1.80</li>
                    </ul>
                    <p>Hello world</p>
                </li> -->


                <% oldMessages.forEach(message => { %>
                <li>
                    <strong><%= message.username %></strong>
                    <ul class="stats">
                        <li>Wins: <%= message.wins %></li>
                        <li>KD: <%= message.kd %></li>
                    </ul>

                    <p> <time><%= message.time %></time> <%= message.message %></p>
                </li>
                <% }) %>
            </ul>
            <form id="chat-form">
                <button class="meme-button" type="button">MEME</button>
                <input type="text" name="message" id="message">
                <button type="submit">Send</button>
            </form>
        </section>
    </main>

    <footer></footer>
</body>

</html>